################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Nfce/Aiapps.Nfce/bin/Debug/netstandard2.0
